#situacion_1 .jss1 {
    background-color: #fff !important;
}

#situacion_1 .jss2 {
    background-color: #fff !important;
}

#situacion_1 .jss3 {
    background-color: #fff !important;
}

#situacion_2 .jss1 {
    background-color: #fff !important;
}

#situacion_2 .jss2 {
    background-color: #fff !important;
}

#situacion_2 .jss3 {
    background-color: #fff !important;
}

#situacion_3 .jss1 {
    background-color: #fff !important;
}

#situacion_3 .jss2 {
    background-color: #fff !important;
}

#situacion_3 .jss3 {
    background-color: #fff !important;
}